<div class="card-body">
  <h5 class="card-title">Gostaria de pesquisar o clima da sua cidade?</h5>
  <div class="row no-gutters">
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        placeholder="Digite o nome da cidade"
        [(ngModel)]="cidade"
        (keydown.enter)="onProcuraCidade(cidade)">
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-sm-12">
      <info-tempo-cidade [clima]="informacoesClima"></info-tempo-cidade>
    </div>
  </div>
</div>
<div *ngIf="pesquisando" class="loader"></div>
